html {
    font-size: 10px;
}
  
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    margin: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: auto 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 5.7rem;
    color: #FFFFFF;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    color: #545454;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: #545454;
}

h5, .button-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 0;
    align-self: center;
}

h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    color: #545454;
}

.logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.paragraph-s {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #B2B2B2;
}

.paragraph-l {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #CDCDCD;
}

.link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #CDCDCD;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.link:hover {
    color: #F1CDB3;
    transition: all .3s;
}

.link_active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.button-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    box-sizing: border-box;
    border: none;
}

.button-primary:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: all .3s;
}

.button-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 45px;
    background: #FFFFFF;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.button-secondary:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: all .3s;
}

@media all and (min-width: 1280px) {
    .container {
        width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .header__container {
        height: 60px;
        box-sizing: border-box;
        padding: 0 40px;
        background: url('../../assets/images/start-screen-gradient-background.jpg');
        position: relative;
        top: 60px;
        z-index: 1;
    }

    .header__content {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-menu {
        height: 27px;
        width: 443px;
        display: flex;
        justify-content: space-between;
    }

    .header__burger {
        display: none;
    }

    .hero__container {
        height: 908px;
        box-sizing: border-box;
        padding: 180px 40px 0 40px;
        background: url('../../assets/images/start-screen-gradient-background.jpg');
        position: relative;
        top: -60px;
    }

    .hero__content {
        display: flex;
        justify-content: space-between;
    }

    .hero__content-text {
        position: relative;
        top: 163px;
        width: 460px;
        height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero__content-header {
        width: 310px;
    }

    .hero__content-text-button {
        padding: 15px 42px;
        width: 207px;
        height: 52px;
    }

    .about__container {
        height: 648px;
        box-sizing: border-box;
        padding: 140px 40px 100px 40px;
        background: #FFFFFF;
        margin-top: -120px;
    }

    .about__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__content img {
        margin-right: 120px;
    }

    .about__content-text {
        width: 430px;
    }

    .about__content-header {
        width: 370px;
    }

    .about__content-description {
        color: #4C4C4C;
        margin-top: 25px;
    }

    .pets__container {
        height: 877px;
        box-sizing: border-box;
        padding: 80px 40px 100px 40px;
        background: #F6F6F6;
    }

    .pets__content {
        height: 697px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .pets__content-header {
        width: 400px;
        align-items: center;
        text-align: center;
    }

    .pets__slider {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pets__slider-content {
        width: 990px;
        display: flex;
        justify-content: space-between;
    }

    .pets__slider-button-arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 23px 19px;
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background: #F6F6F6;
    }

    .pets__slider-button-arrow:hover {
        cursor: pointer;
        border: 2px solid #FDDCC4;
        background: #FDDCC4;
        transition: all .3s;
    }

    .pets__slider-card {
        height: 435px;
        width: 270px;
        box-sizing: border-box;
        background: #FAFAFA;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pets__slider-card:hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 10px 20px 0px;
        transition: all .3s;
    }

    .pets__slider-card-title {
        margin: 30px auto;
    }

    .pets__slider-card-button {
        padding: 15px 40px;
        width: 187px;
    }
    
    .pets__content-button {
        padding: 15px 44px;
        width: 261px;
        height: 52px;
    }

    .help__container {
        height: 611px;
        box-sizing: border-box;
        padding: 80px 40px 100px 40px;
        background: #FFFFFF;
    }

    .help__content {
        height: 431px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .help__content-header {
        width: 310px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .help__content-list {
        height: 281px;
        width: 1026px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .help__content-list-first-row {
        width: 1026px;
        height: 113px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
    }

    .help__content-list-second-row {
        width: 858px;
        height: 113px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
    }

    .help__content-list-adaptive-768 {
        display: none;
    }

    .help__content-list-item-text {
        margin-top: 30px;
    }

    .donation__container {
        height: 462px;
        box-sizing: border-box;
        padding: 80px 183px 100px 183px;
        background: #F6F6F6;
    }

    .donation__content {
        width: 914px;
        height: 282px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .donation__content-text {
        width: 380px;
        height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .donation__content-header {
        width: 300px;
    }

    .donation__content-subheader {
        width: 308px;
    }

    .donation__content-credit-card {
        height: 43px; 
        width: 350px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: #F1CDB3;
        border-radius: 9px;
    }

    .donation__content-credit-card img {
        margin-right: 15px;
    }

    .donation__content-credit-card:hover {
        background: #FDDCC4;
        transition: all .3s;
    }

    .footer__container {
        height: 350px;
        background: url('../../assets/images/footer-gradient-background.jpg');
        padding: 40px 40px 0 40px;
    }
    
    .footer__content {
        height: 310px;
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer__contacts {
        height: 234px;
        width: 280px;
        position: relative;
        top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer__locations {
        height: 234px;
        width: 302px;
        position: relative;
        top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer__title {
        width: 280px;
        color: #FFFFFF;
    }
    
    .footer__text a {
        color: #F1CDB3;
    }
    
    .footer__text a:hover {
        color: #DAA520;
        transition: all .3s;
    }
    
    .footer__email, .footer__phone, .footer__location {
        display: flex;
        align-items: center;
    }
    
    .footer__icon {
        margin-right: 20px;
    }
    
    .footer__icon:hover {
        filter: brightness(0) saturate(100%) invert(91%) sepia(16%) saturate(7308%) hue-rotate(344deg) brightness(90%) contrast(89%);
        -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(16%) saturate(7308%) hue-rotate(344deg) brightness(90%) contrast(89%);
    }
}


@media all and (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: 768px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .header__container {
        height: 60px;
        box-sizing: border-box;
        padding: 0 30px;
        background: url('../../assets/images/start-screen-gradient-background.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        top: 30px;
        z-index: 1;
    }

    .header__content {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-menu {
        height: 27px;
        width: 443px;
        display: flex;
        justify-content: space-between;
    }

    .header__burger {
        display: none;
    }

    .hero__container {
        height: 1165px;
        box-sizing: border-box;
        padding: 150px 100px 0 100px;
        background: url('../../assets/images/start-screen-gradient-background.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        top: -60px;
    }

    .hero__content {
        height: 1015px;
        width: 568px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hero__picture {
        position: relative;
        left: 70px;
        height: 593px;
    }

    .hero__content-text {
        width: 460px;
        height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero__content-header {
        width: 310px;
    }

    .hero__content-text-button {
        align-self: center;
        padding: 15px 42px;
        width: 207px;
        height: 52px;
    }

    .about__container {
        height: 1108px;
        box-sizing: border-box;
        padding: 140px 166px 100px 166px;
        background: #FFFFFF;
        margin-top: -120px;
    }

    .about__content {
        height: 868px;
        width: 436px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .about__content-text {
        width: 430px;
    }

    .about__content-header {
        width: 370px;
    }

    .about__content-description {
        color: #4C4C4C;
        margin-top: 25px;
    }

    .pets__container {
        height: 877px;
        box-sizing: border-box;
        padding: 80px 30px 100px 30px;
        background: #F6F6F6;
    }

    .pets__content {
        height: 697px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .pets__content-header {
        width: 400px;
        align-items: center;
        text-align: center;
    }

    .pets__slider {
        width: 708px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pets__slider-content {
        width: 580px;
        display: flex;
        justify-content: space-between;
    }

    .pets__slider-button-arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 23px 19px;
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background: #F6F6F6;
    }

    .pets__slider-button-arrow:hover {
        cursor: pointer;
        border: 2px solid #FDDCC4;
        background: #FDDCC4;
        transition: all .3s;
    }

    .pets__slider-card {
        height: 435px;
        width: 270px;
        box-sizing: border-box;
        background: #FAFAFA;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pets__slider-card:nth-child(3) {
        display: none;
    }
    
    .pets__slider-card:hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 10px 20px 0px;
        transition: all .3s;
    }

    .pets__slider-card-title {
        margin: 30px auto;
    }

    .pets__slider-card-button {
        padding: 15px 40px;
        width: 187px;
    }
    
    .pets__content-button {
        padding: 15px 44px;
        width: 261px;
        height: 52px;
    }

    .help__container {
        height: 779px;
        box-sizing: border-box;
        padding: 80px 69px 100px 69px;
        background: #FFFFFF;
    }

    .help__content {
        height: 599px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .help__content-header {
        width: 310px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .help__content-list {
        height: 449px;
        width: 630px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .help__content-list-first-row {
        display: none;
    }

    .help__content-list-second-row {
        display: none;
    }

    .help__content-list-adaptive-768 {
        display: flex;
        flex-wrap: wrap;
        width: 630px;
    }

    .help__content-list-item {
        height: 113px;
        width: 170px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin: 0px 60px 55px 0;
    }

    .help__content-list-item:nth-child(3), .help__content-list-item:nth-child(6), .help__content-list-item:nth-child(9) {
        margin-right: 0;
    }

    .help__content-list-item:nth-child(7), .help__content-list-item:nth-child(8), .help__content-list-item:nth-child(9) {
        margin-bottom: 0;
    }

    .help__content-list-item-text {
        margin-top: 30px;
    }

    .donation__container {
        height: 783px;
        box-sizing: border-box;
        padding: 80px 132px 100px 132px;
        background: #F6F6F6;
    }

    .donation__content {
        width: 504px;
        height: 603px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .donation__content .picture {
        width: 504px;
    }

    .donation__content-text {
        width: 380px;
        height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .donation__content-header {
        width: 300px;
    }

    .donation__content-subheader {
        width: 308px;
    }

    .donation__content-credit-card {
        height: 43px; 
        width: 350px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: #F1CDB3;
        border-radius: 9px;
    }

    .donation__content-credit-card img {
        margin-right: 15px;
    }

    .donation__content-credit-card:hover {
        background: #FDDCC4;
        transition: all .3s;
    }

    .footer__container {
        height: 639px;
        background: url('../../assets/images/start-screen-gradient-background.jpg') no-repeat center center fixed;
        background-size: cover;
        padding: 30px 30px 0 30px;
    }
    
    .footer__content {
        height: 609px;
        width: 708px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 34px;
        box-sizing: border-box;
    }
    
    .footer__contacts {
        height: 234px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 58px 65px 0;
    }
    
    .footer__locations {
        height: 234px;
        width: 302px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    
    .footer__title {
        width: 280px;
        color: #FFFFFF;
    }
    
    .footer__text a {
        color: #F1CDB3;
    }
    
    .footer__text a:hover {
        color: #DAA520;
        transition: all .3s;
    }
    
    .footer__email, .footer__phone, .footer__location {
        display: flex;
        align-items: center;
    }
    
    .footer__icon {
        margin-right: 20px;
    }
    
    .footer__icon:hover {
        filter: brightness(0) saturate(100%) invert(91%) sepia(16%) saturate(7308%) hue-rotate(344deg) brightness(90%) contrast(89%);
        -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(16%) saturate(7308%) hue-rotate(344deg) brightness(90%) contrast(89%);
    }

    .footer__picture {
        height: 310px;
    }
}


@media all and (min-width: 320px) and (max-width: 768px) {
    .container {
        width: 320px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .h3-mobile {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3.2rem;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .h3-mobile-white {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3.2rem;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .h5-mobile {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.7rem;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .paragraph-l-mobile {
        text-align: center;
    }
    
    .header__container {
        height: 60px;
        box-sizing: border-box;
        padding: 0 53px 0 10px;
        background: url('../../assets/images/start-screen-gradient-background.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        top: 30px;
        z-index: 1;
    }

    .header__content {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-menu {
        display: none;
    }

    .header__burger {
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero__container {
        height: 823px;
        box-sizing: border-box;
        padding: 150px 10px 0 10px;
        background: url('../../assets/images/start-screen-gradient-background.jpg') no-repeat center center fixed;
        background-size: cover;
        position: relative;
        top: -60px;
    }

    .hero__content {
        height: 673px;
        width: 300px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .hero__picture {
        position: relative;
        height: 271px;
    }

    .hero__content-text {
        width: 300px;
        height: 296px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hero__content-header {
        text-align: center;
        width: 200px;
    }

    .hero__content-text-button {
        align-self: center;
        padding: 15px 42px;
        width: 207px;
        height: 52px;
    }

    .about__container {
        height: 1034px;
        box-sizing: border-box;
        padding: 102px 25px 42px 25px;
        background: #FFFFFF;
        margin-top: -120px;
    }

    .about__content {
        height: 890px;
        width: 270px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .about__content-text {
        width: 270px;
    }

    .about__content-header {
        text-align: center;
        color: #545454;
    }

    .about__content-description {
        color: #4C4C4C;
        margin-top: 25px;
        text-align: justify;
    }

    .about__picture {
        height: 353px;
    }

    .pets__container {
        height: 791px;
        box-sizing: border-box;
        padding: 42px 10px;
        background: #F6F6F6;
    }

    .pets__content {
        height: 707px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .pets__content-header {
        width: 300px;
        align-items: center;
        text-align: center;
    }

    .pets__slider {
        width: 270px;
        height: 507px;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
    }

    .pets__slider-content {
        width: 270px;
        height: 435px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .pets__slider-button-arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 23px 19px;
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background: #F6F6F6;
        order: 2;
    }

    .pets__slider-button-arrow:hover {
        cursor: pointer;
        border: 2px solid #FDDCC4;
        background: #FDDCC4;
        transition: all .3s;
    }

    .pets__slider-card {
        height: 435px;
        width: 270px;
        box-sizing: border-box;
        background: #FAFAFA;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }

    .pets__slider-card:nth-child(2), .pets__slider-card:nth-child(3) {
        display: none;
    }
    
    .pets__slider-card:hover {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 10px 20px 0px;
        transition: all .3s;
    }

    .pets__slider-card-title {
        margin: 30px auto;
    }

    .pets__slider-card-button {
        padding: 15px 40px;
        width: 187px;
    }
    
    .pets__content-button {
        padding: 15px 44px;
        width: 261px;
        height: 52px;
    }

    .help__container {
        height: 745px;
        box-sizing: border-box;
        padding: 42px 15px;
        background: #FFFFFF;
    }

    .help__content {
        height: 661px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .help__content-header {
        width: 222px;
        align-items: center;
        text-align: center;
    }
    
    .help__content-list {
        height: 555px;
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .help__content-list-first-row {
        display: none;
    }

    .help__content-list-second-row {
        display: none;
    }

    .help__content-list-adaptive-768 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        width: 290px;
        height: 555px;
    }

    .help__content-list-item {
        height: 87px;
        width: 130px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .help__content-list-item-text {
        margin-top: 20px;
    }

    .help__picture {
        height: 50px;
    }

    .donation__container {
        height: 783px;
        box-sizing: border-box;
        padding: 80px 132px 100px 132px;
        background: #F6F6F6;
    }

    .donation__content {
        width: 504px;
        height: 603px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .donation__content .picture {
        width: 504px;
    }

    .donation__content-text {
        width: 380px;
        height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .donation__content-header {
        width: 300px;
    }

    .donation__content-subheader {
        width: 308px;
    }

    .donation__content-credit-card {
        height: 43px; 
        width: 350px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: #F1CDB3;
        border-radius: 9px;
    }

    .donation__content-credit-card img {
        margin-right: 15px;
    }

    .donation__content-credit-card:hover {
        background: #FDDCC4;
        transition: all .3s;
    }

    .footer__container {
        height: 639px;
        background: url('../../assets/images/start-screen-gradient-background.jpg') no-repeat center center fixed;
        background-size: cover;
        padding: 30px 30px 0 30px;
    }
    
    .footer__content {
        height: 609px;
        width: 708px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 34px;
        box-sizing: border-box;
    }
    
    .footer__contacts {
        height: 234px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 58px 65px 0;
    }
    
    .footer__locations {
        height: 234px;
        width: 302px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    
    .footer__title {
        width: 280px;
        color: #FFFFFF;
    }
    
    .footer__text a {
        color: #F1CDB3;
    }
    
    .footer__text a:hover {
        color: #DAA520;
        transition: all .3s;
    }
    
    .footer__email, .footer__phone, .footer__location {
        display: flex;
        align-items: center;
    }
    
    .footer__icon {
        margin-right: 20px;
    }
    
    .footer__icon:hover {
        filter: brightness(0) saturate(100%) invert(91%) sepia(16%) saturate(7308%) hue-rotate(344deg) brightness(90%) contrast(89%);
        -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(16%) saturate(7308%) hue-rotate(344deg) brightness(90%) contrast(89%);
    }

    .footer__picture {
        height: 310px;
    }
}